/*_________________________
general
_________________________*/
body {
  background-color: #524040;
  font-family: "Exo 2", "sans-serif";
  margin: 0;
}
p,
h1,
a {
  color: white;
  text-align: center;
  font-weight: 300;
}
p,
a {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.05em;
  font-size: 3rem;
  margin: 1.5rem 0 0.5rem 0;
}
/*_________________________
game status information
_________________________*/
.info {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 5vh;
}
.info-item {
  width: 49%;
}
@media (max-width: 767px) {
  .info-item {
    width: 100%;
  }
}
.game-status {
  margin: 20px 0;
}
@media (min-width: 990px) {
  .game-status {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}
.status-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.item {
  padding: 0 10px;
}
.move,
.time {
  font-family: "Exo 2", "sans-serif";
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 5px;
}
.star-rating {
  text-align: center;
}
.star {
  width: 20px;
  height: 20px;
  background-color: #af9393;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
}
.star.removed {
  background-color: rgba(175, 147, 147, 0.2);
}
.refresh {
  width: 18px;
}
/*_________________________
memory cards
_________________________*/
.memory-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.memory-card {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 15px;
  height: 12vw;
  width: 12vw;
  min-height: 80px;
  min-width: 80px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 1;
}
.memory-card .memory-cover,
.memory-card .memory-image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #524040;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.memory-card .memory-cover {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.memory-card .memory-image {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.memory-card:not(.open):not(.permanently-open) {
  cursor: pointer;
}
.memory-card.open,
.memory-card.permanently-open {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.memory-card.permanently-open .memory-image {
  background-color: rgba(175, 147, 147, 0.15);
  -webkit-transition: all 0.5s ease-in-out 1s;
  -o-transition: all 0.5s ease-in-out 1s;
  transition: all 0.5s ease-in-out 1s;
}
/*_________________________
modal
_________________________*/
#modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  background-color: rgba(101, 79, 79, 0.85);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#modal.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#modal .modal-content {
  background-color: #524040;
  padding: 40px;
  position: relative;
  min-width: 220px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#modal .text {
  padding: 2rem 5rem;
}
#modal .modal-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}
#modal .bar {
  background-color: white;
  width: 30px;
  height: 1px;
  display: block;
}
#modal .bar.bar-one {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#modal .bar.bar-two {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#modal .bar:hover {
  cursor: pointer;
}
#modal .congrats {
  font-family: "Exo 2", "sans-serif";
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  margin-top: 40px;
}
#modal .modal-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#modal .star-rating-wrap {
  margin: 0.75em 0;
}
#modal .btn-again {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-family: "Exo 2", "sans-serif";
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 20px;
  display: block;
}
#modal .btn-again:hover {
  border-color: #af9393;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*_________________________
helpers
_________________________*/
.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.standard-transition {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.slow-transition {
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.fast-transition {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.transition-delayed {
  -webkit-transition: all 0.5s ease-in-out 1s;
  -o-transition: all 0.5s ease-in-out 1s;
  transition: all 0.5s ease-in-out 1s;
}
